html {
  padding: 40px;
}

button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

p {
  padding: 10px;
  border: 1px solid #aaa;
}

div {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 20px;
}

h1, h2, h3, h4  {
  font-weight: bold;
}

h4 {
  padding: 5px;
  border: 1px solid #ccc;
}

.on .left {
  background-color: orange;
  float: inline-start;
  /* use ^^^^^^^^^^^^ instead of float: left; ... it's rtl/ltr independent!*/
}

.on .right {
  background-color: blue;
  float: inline-end;
  /* use ^^^^^^^^^^ instead of float: right; ... it's rtl/ltr independent!*/
}