html {
  padding: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2  {
  font-weight: bold;
}

/* For good visual rhythm
 * Pick a number (in this case 12)
 * and use integer and integer.5 multiples
 * for your font-size, line-height, and margins.
 */

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 36px;
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 24px;
  /* For easy-to-read blocks of text
   * ensure that the width is about 26 * (font-size)
   * which equates to roughly 9 words per line.
   * Research shows this is the ideal width for
   * good eye tracking from line-to-line.
   */
  max-width: 468px;
}
